/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      - Font weights
        default:400
        Medium:500  
        Bold : 600
        

      - Line heights
        default: 1
        - small % : 150%
        - small : 1.4
        - medium : 


      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      COLORS 

      Bg.ge : #ffa90a
      background color  : #f3f4f4 #161718;
      main header :  #fff
      header nav list : #575d61
      background color Text : rgba(0, 92, 162, 0.762) 
                              rgba(197, 91, 42, 0.825)
                              rgba(107, 178, 157, 0.714)
      Nav color : #ff4500 #992900

      Border-Radius:
      - Default: 50%
      - Min : 9px
      - Max :100px
      */

@import url("//cdn.web-fonts.ge/fonts/bpg-nino-elite-caps/css/bpg-nino-elite-caps.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans Georgian", sans-serif;
  line-height: 1;
  /* font-weight: 400; */
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.section {
  margin-bottom: 4rem;
}

.btn-icon {
  width: 2rem;
  height: 2rem;
  color: #1e73e3;
}

.svg {
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f7f7f7;
  position: absolute;
}

*:focus {
  box-shadow: 0 0 0 0.8rem rgba(0, 139, 139, 0.496);
}

/* .main-div {
  width: 146.4rem;
  margin: auto;
} */

.container {
  max-width: 104rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}
